@model ClientSuite.Models.ProductDocumentation

<script src="~/theme/bc/ckeditor/ckeditor.js"></script>
<link href="~/theme/Select2/select2.min.css" rel="stylesheet" />
<script src="~/theme/Select2/select2.full.min.js"></script>
 
    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2({ maximumSelectionLength: 1 });
        });
    </script>
@Html.AjaxFormSubmiterV2("myForm", "tbProductDocumentation", true, Localizer["ActionSuccess"].Value)

<form id="myForm" asp-action="Create" role="form" enctype="multipart/form-data">
    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = Localizer["FillRequired"].Value })
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="ProductId" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="ProductId" asp-items="ViewBag.Products" multiple="multiple" style="width: 100%" class="form-control select2"><option value="">Select</option> </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Title" class="form-control" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="AddedBy" value="@Env.GetUserInfo("Id",User.Claims)" />
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="ParentId" class="col-lg-4 col-sm-6 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="ParentId" asp-items="ViewBag.ProductDocumentations" multiple="multiple" style="width: 100%" class="form-control select2"><option value="">Select</option> </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="DateAdded" value="@DateTime.Now.ToTimeZoneDate()" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="ModifiedBy" value="@Env.GetUserInfo("Id",User.Claims)" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <input type="hidden" asp-for="DateModified" value="@DateTime.Now.ToTimeZoneDate()" />
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">

                <div class="form-group">
                    <label asp-for="Details" class="col-lg-10 col-sm-10 control-label"></label>
                    <div class="col-lg-12">
                        <textarea asp-for="Details" class="form-control ckeditor"></textarea>
                        <script>$(function () { CKEDITOR.instances["Details"].destroy(); CKEDITOR.replace('Details'); });</script>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter {  CancelButtonText = Localizer["Cancel"].Value, SubmitButtonText = Localizer["Submit"].Value })
</form>
